header {
    color: black;
    font-family: verdana;
    text-align: center;
    padding: 50px
}
body {
    background-color: #ccffe4
}
.login {
    background-color: #f0ff45
}
.error {
    background-color: #f53c3c
}
.success {
    background-color: #3cff3b
}
h1 {
    color: black;
    font-family: verdana;
    text-align: center;
}
p {
    color: black;
    font-family: verdana;
    text-align: center;
}
div {
    background-color: #32ff91;
    width: 1000px;
    margin: auto
}
.auto {
    margin: 10px;
    padding: 20px
}
